body {
  font-family: Arial;
  margin: 0;
}

header {
  background-color: black;
  color: white;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

main {
  padding: 20px;
}
#resultado {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

#resultado div {
  width: 150px;
  text-align: center;
}

#resultado img {
  width: 100%;
}
