:root {
  --bg: #14181c;
  --card: #2c3440;
  --accent: #00e054;
  --white: #ffffff;
}

body {
  background-color: var(--bg);
  color: var(--white);
  font-family: sans-serif;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: var(--card);
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}
.nav-links a {
  color: white;
  text-decoration: none;
}

.search-container {
  text-align: center;
  padding: 50px 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.movie-card {
  background: var(--card);
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.movie-card img {
  width: 100%;
  border-radius: 4px;
}

.btn-fav {
  background-color: var(--accent);
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
