/* Variables de estilo */
:root {
  --bg-main: #14181c;
  --bg-card: #2c3440;
  --color-accent: #ff7e64;
  --text-white: #ffffff;
  --text-gray: #9ab;
}

body {
  background-color: var(--bg-main);
  color: var(--text-white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

.logo{
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  color: #fce5e1;
  font-size: large;
}

/* Navegación  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 5%;
  background-color: var(--bg-card);
  border-bottom: 1px solid #456;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: var(--text-gray);
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: var(--color-accent);
}

/* Grilla de películas */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 25px;
  padding: 40px 5%;
}

.movie-card {
  background: var(--bg-card);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
  border: 1px solid #456;
  padding: 10px;
}

.movie-card:hover {
  transform: scale(1.05);
  border-color: var(--color-accent);
}

.movie-card img {
  width: 100%;
  height: 270px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
  text-align: center;
}

.btn-fav,
.btn-delete {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
}

.btn-fav {
  background-color: var(--color-accent);
  color: #ffffff;
}
.btn-delete {
  background-color: #ff4b4b;
  color: white;
}
.home-button {
  background: var(--color-accent);
  padding: 15px 30px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.search-button{
  background-color: #ff7e64;
  border-radius: 5px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search-input{
  border-radius: 5px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.search-container {
  padding: 3rem;
  text-align: center;
}

/*carrusel imagenes*/
.carousel-container {
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
  background: #14181c;
}

.carousel-track {
  display: flex;
  gap: 15px;
  animation: scroll 20s linear infinite; /* animación constante */
}

.carousel-track img {
  height: 300px;
  border-radius: 8px;
  transition: transform 0.3s;
}

/* animación de movimiento */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* Responsive*/
@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 15px;
  }
  .movie-grid {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  }
}
